:host{
  .body-main {
    --background: url("../../../assets/imgs/oud.jpg")  50% no-repeat;
  }

}
.title{
  text-align: center;
}
.buttons-navigate {
  position: relative;
  top: 35%;
  margin-bottom: 10%;
  height: 100px;
  font-family: arial, sans-serif;
  font-weight: bolder;
  font-size: large;
  color: black;
  background: black;
  opacity:0.7;

}
